
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
  <body>
  
   
 <div class="main-header" id="inicio">
  <div class="background-overlay text-white py-5">
    <div class="container">
      <div class="row">
        <div class="cold-9" style="text-align: center; padding-top: 30px;">
          <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px"><br>
         
          <p style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 30px; font-weight: bold; color: black;"  >"La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion 
            Esmeradamente <br> CRISTIANA. <br>
            Mons. Miguel Ángel Garcia Arauz".
          </p>

        </div>
       

        <div></div>
      
      </div>
    </div>
  </div>
  
 </div>


 <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z"
    style="stroke: none; fill:rgb(14, 52, 158);"></path>
</svg></div>


<br>

  <div class="secction1">
   <div class="background-overlay1 text-white py-5">
    <div class="container " >
     <div class="row">
      
          
      <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> PRIMERO BASICO</h4>
        *Matematica
        <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
        <br> *Comunicacion y Lenguaje, Idioma Español 
        <br> *Comunicacion y Lenguaje, Idioma Extranejero
        <br>*Ciencias Naturales
        <br>*Ciencias Sociales Y Ciudadania
       <br> *Educacion y Expresión Artística 
       <br>*Emprendimiento para la Productividad
       <br>*Tecnologías del Aprendizaje y la Coumnicacion
       <br>Educacion Fisica

      </div>
      <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> SEGUNDO BASICO</h4>
        *Matematica
        <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
        <br> *Comunicacion y Lenguaje, Idioma Español 
        <br> *Comunicacion y Lenguaje, Idioma Extranejero
        <br>*Ciencias Naturales
        <br>*Ciencias Sociales Y Ciudadania
       <br> *Educacion y Expresión Artística 
       <br>*Emprendimiento para la Productividad
       <br>*Tecnologías del Aprendizaje y la Coumnicacion
       <br>Educacion Fisica
      </div>
      <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> TERCERO BASICO</h4>
        *Matematica
        <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
        <br> *Comunicacion y Lenguaje, Idioma Español 
        <br> *Comunicacion y Lenguaje, Idioma Extranejero
        <br>*Ciencias Naturales
        <br>*Ciencias Sociales Y Ciudadania
       <br> *Educacion y Expresión Artística 
       <br>*Emprendimiento para la Productividad
       <br>*Tecnologías del Aprendizaje y la Coumnicacion
       <br>Educacion Fisica
      </div>
          
          
         
      </div>
    </div>
  </div>
 </div>
 <br>
 <div class="secction2">
    <div class="background-overlay2 text-white py-5">
      <div class="container">
       <div class="row">
       
        
        <div class="col"> <h6 style="font-family: Amatic SC, sans-serif; font-size: 30px; font-weight: bold;">CUARTO GRADO</h6>
          *Lengua y Literatura 4 
          <br>*Comunicación y Lenguaje L3 (Inglés Técnico) 4 
          <br>*Matemática 4 
          <br>*Física 
          <br>*Ciencias Sociales y Formación Ciudadana 4 
          <br>*Filosofía 
          <br>*Expresión Artística 
          <br>*Educación Física 
          <br>*Computación Aplicada 
          <br>*Laboratorio I 
          <br>*Sistemas e instalación de Software 
          <br>*Contabilidad General 
          <br>*Religión  
          
        </div>

        
        <div class="col" style="font-family: Amatic SC, sans-serif; padding-top: 60px; font-size: 70px; font-weight: bold;"> PENSUM BACHILLERATO COMPUTACION  </div>

        

        <div class="col"> <h6 style="font-family: Amatic SC, sans-serif; font-size: 20px; font-weight: bold;">QUINTO GRADO</h6>
          *Lengua y Literatura 5 
          <br>*Comunicación y Lenguaje L3 (Inglés Técnico) 5 
          <br>*Matemática 5 
          <br>*Estadística Descriptiva 
          <br>*Biología 
          <br>*Química 
          <br>*Ciencias Sociales y Formación Ciudadana 5 
          <br>*Ética Profesional y Relaciones Humanas 
          <br>*Reparación y soporto técnico 
          <br>*Producción de Contenidos Digitales 
          <br>*Laboratorio II 
          <br>*Seminario 
          <br>*Práctica Supervisada (en contra horario) 
          <br>*Religión  
        </div>
      </div>

      
   </div>
 </div>
</div>
<br>
<div class="secction3">
  <div class="background-overlay3 text-white py-5">
    <div class="container">
     <div class="row">

      <div class="col" style="font-family: Amatic SC, sans-serif; font-weight: bold;font-size: 70px;">PENSUM PERITO COMPUTACION</div><br>
      <div class="col"> 
        <h6 style="font-family: Amatic SC, sans-serif; font-weight: bold;font-size: 30px;">CUARTO GRADO</h6>
        *Contabilidad de Sociedades 
        <br>*Matemática Comercial 
        <br>*Fundamentos de Derecho 
        <br>*Inglés Comercial I 
        <br>* Redacción y Correspondencia Mercantil 
        <br>*Introducción a la Economía 
        <br>*Ortografía y Caligrafía 
        <br>*Administración y Organización de Oficina 
        <br>*Computación I 
        <br>*Programación I 
        <br>*Religión 
      </div>

      <div class="col">
        <h6 style="font-family: Amatic SC, sans-serif; font-weight: bold;font-size: 30px;">QUINTO GRADO</h6>
        *Contabilidad de Costos 
        <br>*Cálculo Mercantil y Financiero 
        <br>*Inglés Comercial II 
        <br>*Legislación Fiscal y Aduanal 
        <br>*Finanzas Públicas 
        <br>*Geografía Económica 
        <br>*Catalogación y Archivo 
        <br>*Mecanografía 
        <br>*Computación II 
        <br>*Programación II 
        <br>*Religión 
        
      </div>
      <div class="col">
        <h6 style="font-family: Amatic SC, sans-serif; font-weight: bold;font-size: 30px;">SEXTO GRADO</h6>
        *Contabilidad Bancaria 
        <br>*Estadística Comercial 
        <br>*Contabilidad Gubernamental Integrada 
        <br>*Organización de Empresas 
        <br>*Ética Profesional y Relaciones Humanas 
        <br>*Práctica Supervisada 
        <br>*Auditoría 
        <br>*Derecho Mercantil y Nociones de Derecho 
        <br>*Laboral 
        <br>*Computación III 
        
      </div>
      
      

      </div>
     </div>
    </div>
  </div>
<br>
  <div class="secction4">
    
    <div class="background-overlay4 text-white py-5">
      <div class="container">
       <div class="row">
       
        
        <div class="col"><p style="font-family:Amatic SC, sans-serif; font-size: 25px;">QUINTO MEIBI</p>
          *Lengua y Literatura en L1 
          <br>*Comunicación y Lenguaje L2
          Segundo idioma nacional          
          <br>* Comunicación y Lenguaje L3
          (Inglés)          
          <br>*Tecnologías de la Información y la
          Comunicación
          <br>*Matemáticas
          <br>*Física
          <br>*Psicología
          <br>*Ciencias Sociales y Formació Ciudadana                        
          <br>* Filosofía
          <br>*Educación Física
          <br>* Proyectos Educativos
          <br>*Fundamentos de Pedagogía 
          <br>* Estrategias de Aprendizaje 
          <br>* Productividad y Desarrollo 
          <br>* Religión 

        </div>
        <div class="col text-center" style="font-size: 80px; padding-top: 90px; padding-left: 45px;">PENSUM  <br>PERITO <br>EDUCACION</div>
      
        <div class="col"> <p style="font-family:Amatic SC, sans-serif; font-size: 25px;">SEXTO MEIBI</p>
          *Lengua y Literatura en L1 
          <br>*Comunicación y Lenguaje L2
          Segundo idioma nacional          
          <br>* Comunicación y Lenguaje L3
          (Inglés)          
          <br>*Tecnologías de la Información y la
          Comunicación
          <br>*Matemáticas
          <br>*Estadística Descriptiva
          <br>*Biología
          <br>*Química                       
          <br>* Ciencia y Tecnología de los Pueblos
          <br>*Ciencias Sociales y Formación Ciudadana
          <br>* Psicología Evolutiva
          <br>*Identidad y Profesión Docente 
          <br>*Expresión Artística 
          <br>* Seminario aplicado a la Educación
          <br>* Paradigmas Educativos
          <br>*Religión

        </div>     
        </div>
       </div> 
      </div>
    </div>
    <br>




  
</body>
  
 


      
       
      
      
