



body
{ 
    background-color:rgb(137, 137, 143);
    margin-top: 0px;
    position: relative;
 
}


.main-header {
    text-align: center;
    position: relative;
    background: url(https://i.ibb.co/0mWNTFh/Whats-App-Image-2024-08-14-at-12-59-22-PM.jpg);
    background-size:cover;
 background-attachment: fixed;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    }
    .background-overlay {
      
        background: rgba(214, 203, 203, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
    .secction1
    {
      background:url(https://i.ibb.co/0mWNTFh/Whats-App-Image-2024-08-14-at-12-59-22-PM.jpg);
      background-size: cover;
     background-attachment: fixed;
      height: 450px;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    .background-overlay1{

        background: rgba(74, 77, 138, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .secction1  .row .col{
      
        text-align: left;
        font-size: 35px;
        font-family: "Amatic SC", sans-serif;
        font-weight: bolder;
        padding-top: 50px;




    }

    .secction2 {
      
       background: url("https://i.ibb.co/pL536XY/Whats-App-Image-2024-10-18-at-10-06-18-AM-1.jpg");
        background-size: cover;
        background-attachment: fixed;
        height: 450px;
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;

    }
