<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
  rel="stylesheet">

<body>


  <div class="main-header" id="inicio">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row">
          <div class="cold-9" style="text-align: center; padding-top: 30px;">
            <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px"><br>

            <p
              style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 30px; font-weight: bold; color: black;">
              "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion
              Esmeradamente <br> CRISTIANA. <br>
              Mons. Miguel Ángel Garcia Arauz".
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="secction1">
    <div class="background-overlay1 text-white py-5">
      <div class="container">
        <div class="row">

          <div class="col">
            <h4 style=" font-family: Amatic SC, sans-serif;font-weight: bolder; font-size: 100px;padding-top: 40px;">
              PARVULOS</h4>
          </div>


          <div class="col">
            *EDUCACION PARA <br>LA CIENCIA Y
            CIUDADANIA
            <br>

            *DESTREZAS DE <br>COMUNICACION Y
            LENGUAJE

          </div>


          <div class="col">
            *DESTREZAS DE <br>APRENDIZAJE
            MATEMATICO
            <br>

            *EDUCAION FISICA
          </div>

          <div class="col">
            *EDUCACION MUSICAL
            <br>

            *ARTES VISUALES
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="secction2">
    <div class="background-overlay1 text-white py-5">
      <div class="container">
        <div class="row">


            <h1>PRIMERO</h1>

        </div>
      </div>
    </div>
  </div>
  <br>





</body>