



body
{ 
    
    background-color: rgb(77, 179, 192);
    margin: 0;
    padding: 0;
    
 
}

.header

{
 
    background-size: cover;
    background-attachment: fixed;
    height: 470px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  
}

.header img{
    
    top: 0;
    left: 0;
    height: 445px;
    width: 100%;
 
}

.texto{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
}

.texto img{
    height: 250px;
    width: 250px;
    text-align: center;
    position: relative;
    opacity: .9;
    
}
    .slider-frame {
       
     width: 100%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
    background: rgba(255, 255, 255, 0.801);
    
    }
    
    .slider-frame ul {
   
        display: flex;
        padding-left: 0%;
        width: 400%;
        opacity: .7;
        
        animation: slide 20s infinite alternate ease-in-out;
    }
    
    .slider-frame li {
     
        width: 100%;
        list-style: none;
        
      
    
    }
    
    .slider-frame img {
        width: 100%;
        opacity: .7;
        background-size: cover;
        background-attachment: fixed;
        
    }
    
    @keyframes slide {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }
    
    .texto .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }
     
  
    .secction1
    {
      background:url(https://i.ibb.co/0mWNTFh/Whats-App-Image-2024-08-14-at-12-59-22-PM.jpg);
      background-size: cover;
      background-attachment: fixed;
      height: 450px;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    .background-overlay1{

        background: rgba(74, 77, 138, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .secction1  .row .col{
      
        text-align: left;
        font-size: 35px;
        font-family: "Amatic SC", sans-serif;
        font-weight: bolder;
        padding-top: 45px
    }

  


    .secction3 {
      
        background: url("https://i.ibb.co/pL536XY/Whats-App-Image-2024-10-18-at-10-06-18-AM-1.https://i.ibb.co/kHcn9bf/Whats-App-Image-2024-10-18-at-10-06-17-AM-4.jpg");
         background-size: cover;
         background-attachment: fixed;
         height: 450px;
         width: 100%;
         text-align: center;
         justify-content: center;
         flex-direction: column;
         text-align: center;
 
     }
     .secction3 .row .col{
      
        text-align: left;
        font-size: 25px;
        font-family: "Amatic SC", sans-serif;
        font-weight: bolder;
        padding-top: 0px
    
        
    }

        
    .secction4 {
      
        background: url("https://i.ibb.co/kHcn9bf/Whats-App-Image-2024-10-18-at-10-06-17-AM-4.jpg");
         background-size: cover;
         background-attachment: fixed;
         height: 450px;
         width: 100%;
         text-align: center;
         justify-content: center;
         flex-direction: column;
 
     }

     .secction4  .row .col{
      
        text-align: left;
        font-size: 23px;
        font-family: "Amatic SC", sans-serif;
        font-weight: bolder;
        padding-top: 0px;
    
    }
