<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
  rel="stylesheet">





<body>



  <div class="header">

    <div class="slider-frame">
      <ul >
        <li><img src="https://i.ibb.co/sHTXfv0/Whats-App-Image-2024-10-18-at-10-06-18-AM.jpg"></li>
        <li><img src="https://i.ibb.co/SQ3g9pT/Whats-App-Image-2024-10-18-at-10-06-18-AM-3.jpg"></li>
        <li><img src="https://i.ibb.co/fNTq6ww/iagen.jpg" alt=""></li>
        <li><img src="https://i.ibb.co/gS20R9n/Whats-App-Image-2024-10-18-at-10-06-18-AM-2.jpg" alt=""></li>
      </ul>

    </div>
  </div>


  <div class="texto" style="text-align: center; padding: 0px;">
    <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png">

    <p
      style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 28px; font-weight: bold; color: black; position: relative;">
      "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion
      Esmeradamente <br> CRISTIANA. <br>
      Mons. Miguel Ángel Garcia Arauz".
    </p>



  </div>

  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z"
        style="stroke: none; fill: rgb(14, 52, 158);"></path>
    </svg></div>


  <br>
  <div class="secction1">
    <div class="background-overlay1 text-white py-5">
      <div class="container">
        <div class="row">

          <div class="col">
            <h4 style=" font-family: Amatic SC, sans-serif;font-weight: bolder; font-size: 100px;padding-top: 40px;">
              PARVULOS I, II, II.
            </h4>
          </div>


          <div class="col">
            *EDUCACION PARA <br>LA CIENCIA Y
            CIUDADANIA
            <br>

            *DESTREZAS DE <br>COMUNICACION Y
            LENGUAJE

          </div>


          <div class="col">
            *DESTREZAS DE <br>APRENDIZAJE
            MATEMATICO
            <br>

            *EDUCAION FISICA
          </div>

          <div class="col">
            *EDUCACION MUSICAL
            <br>

            *ARTES VISUALES
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>


  

  <div class="secction3">

    <div class="background-overlay1 text-white">
      <div class="container">
        <div class="row">

          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 100px;">PRIMERO</h1>

            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            * MEDIO SOCIAL Y NATURAL
            <br>
            * EXPRESION ARTISITICA
            <br>
            * EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
          </div>

          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 100px;">SEGUNDO</h1>
            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            * MEDIO SOCIAL Y NATURAL
            <br>
            * EXPRESION ARTISITICA
            <br>
            * EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
          </div>


          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 100px;">TERCERO</h1>
            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            * MEDIO SOCIAL Y NATURAL
            <br>
            * EXPRESION ARTISITICA
            <br>
            * EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="secction4">
    <div class="background-overlay1 text-white">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 60px;">CUARTO</h1>

            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            *CIENCIAS SOCIALES
            <br>
            *CIENCIAS NATURALES Y
            TECNOLOGIA
            <br>
            * EXPRESION ARTISITICA
            <br>
            *EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
            <br>
            * PRODUCTIVIDAD Y DESARROLLO
          </div>
          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 60px;">QUINTO</h1>

            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            *CIENCIAS SOCIALES
            <br>
            *CIENCIAS NATURALES Y
            TECNOLOGIA
            <br>
            * EXPRESION ARTISITICA
            <br>
            *EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
            <br>
            * PRODUCTIVIDAD Y DESARROLLO
          </div>
          <div class="col">
            <h1 style="font-family: Amatic SC, sans-serif; font-weight: bolder;font-size: 60px;">SEXTO</h1>

            * LI. IDIOMA MATERNO
            <br>
            * LI. SEGUNDO IDIOMA
            <br>
            * LI. TERCER IDIOMA
            <br>
            * MATEMATICAS
            <br>
            *CIENCIAS SOCIALES
            <br>
            *CIENCIAS NATURALES Y
            TECNOLOGIA
            <br>
            * EXPRESION ARTISITICA
            <br>
            *EDUCACION FISICA
            <br>
            * FORMACION CIUDADANA
            <br>
            * PRODUCTIVIDAD Y DESARROLLO
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <br>


</body>