<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap"
  rel="stylesheet">



<body>
  <div class="header">

    <div class="slider-frame">
      <ul>
        <li><img src="https://i.ibb.co/sHTXfv0/Whats-App-Image-2024-10-18-at-10-06-18-AM.jpg"></li>
        <li><img src="https://i.ibb.co/SQ3g9pT/Whats-App-Image-2024-10-18-at-10-06-18-AM-3.jpg"></li>
        <li><img src="https://i.ibb.co/fNTq6ww/iagen.jpg" alt=""></li>
        <li><img src="https://i.ibb.co/gS20R9n/Whats-App-Image-2024-10-18-at-10-06-18-AM-2.jpg" alt=""></li>
      </ul>

    </div>
  </div>
  <div class="texto" style="text-align: center; padding: 0px;">
    <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png">

    <p
      style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 28px; font-weight: bold; color: black; position: relative;">
      "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion
      Esmeradamente <br> CRISTIANA. <br>
      Mons. Miguel Ángel Garcia Arauz".
    </p>



  </div>



  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z"
      style="stroke: none; fill: rgb(14, 52, 158);"></path>
  </svg></div>

<br>
<div class="secction1">

  <div class="background-overlay1 text-white"></div>

</div>

<br>


</body>