
<body>

  <div class="main-header" id="inicio">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center align-self-center">
            <h1 class="mt-5"></h1>
            
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container2">

<div class="col" style="font-family: Playwrite US Modern, cursive"><br><H1>virtud y ciencia</H1><br> la mejor herencia de un padre familia 
  puede legar sus hijos es UNA EDUCACION MERAMENTE CRISTIANA .
</div>
</div>
 <br>
 <br>
 

<div class="container1 text-center" id="QUIENES">
    <div class="row align-items-start">

      <div class="col">
        <img src="https://cope-cdnmed.cope.es/resources/jpg/5/3/1570794814835.jpg" >
       
      </div>

        <div class="col " style="font-family: Playwrite US Modern, cursive" ><br><H1>Quienes Somos</H1><br>familia liceista que brindamos una educacion esmeradamente 
            cristiana, Nunca consideres el estudio como una obligación, sino como una oportunidad
             para penetrar en el bello y maravilloso mundo del saber.
       </div>

      <div class="col">
        <img src="https://static.wixstatic.com/media/5f9175_6410064aded84fc0aafaabeb7d3a8526~mv2.jpg/v1/fill/w_250,h_176,al_c,q_90,enc_auto/5f9175_6410064aded84fc0aafaabeb7d3a8526~mv2.jpg" >
       
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="container4 text-center" id="MISION">
    <div class="row align-items-start">
      <div class="col">
    
        <H1>Mision</H1>
      </div>

      <div class="col" style="font-family: Playwrite US Modern, cursive"> Somos una Institucion educativa Catolica que unificando
        esfuerzos con la comunidad educativa, buscando en el niño y el joven estudiantil el desarrollo
        y la capacidad intelectual, los principios y valores eticos, morales y espirituales, cultivando
        en cada uno de los liceista una formacion integral para que sean autenticos ciudadanos capaces
        para generar cambios en nuestra sociedad guatemalteca.
        
      </div>
    </div>
  </div>
<br>
<br>
  <div class=" text-center">
    <div class="row align-items-start">
      <div class="col">
        <H1><img src="https://scontent.faqb1-1.fna.fbcdn.net/v/t39.30808-6/440114079_840716441199915_2779812781710777551_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=se_2arbZJXYQ7kNvgHiU-XT&_nc_ht=scontent.faqb1-1.fna&oh=00_AYAiR7wcQe8x4Ss6g0pXYDzxIfBj3iP7MixHGbpq7vOPkQ&oe=666446E4"></H1>
      </div>
      <div class="col">
        <H1><img src="https://i.ibb.co/4WcdN1C/Whats-App-Image-2024-05-20-at-1-46-07-PM.jpg"></H1>
      </div>
      <div class="col">
        <H1><img src="https://scontent.faqb1-2.fna.fbcdn.net/v/t39.30808-6/395875510_742367687701458_8754237048722980052_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9_CF6XJsQt4Q7kNvgGP_qNe&_nc_ht=scontent.faqb1-2.fna&oh=00_AYAkck8TddQdLVAO-nb6IKJgrlDFG3qr8u8Kf8lWdX-5iw&oe=66644D0B"></H1>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="container5 text-center" id="VISION">
    <div class="row align-items-start">

      <div class="col" style="font-family: Playwrite US Modern, cursive"><br> Ser una instituicion educativa con valores evangélicos,
        íntegra en su fe, con conocimientos intelectuales, religiosos, culturales,
        y sociales, que se reconozca por su excelencia académica, creativo y humano
        con una educación personalizada, atentos a la diversidad, integrando las 
        diferentes culturas con calidad y mejora en nuevas metodologias que se adapten
        a las caracteristicas y necesidades de cada alumno.
      </div>
      <div class="col">
        <H1>Vision</H1>
      </div>
    </div>
  </div>
<br>
<br>

<div class="container6 text-center">
  <div class="row align-items-start">
    <div class="col">
      <H1><img src="https://i.ibb.co/4WcdN1C/Whats-App-Image-2024-05-20-at-1-46-07-PM.jpg"></H1>
    </div>
    <div class="col">
      <H1><img src="https://i.ibb.co/mGdNCBj/Whats-App-Image-2024-05-20-at-1-46-06-PM-1.jpg"></H1>
    </div>
    <div class="col">
      <H1><img src="https://i.ibb.co/zbmpNq8/Whats-App-Image-2024-05-20-at-1-46-06-PM.jpg"></H1>
    </div>
  </div>
</div>
<br>
<br>
  <div class="container3 text-center" id="FUNDADORES" >
    <div class="row align-items-center">
      

      <div class="col">
       <h4>Fundadores</h4>
      </div>
      
      <div class="col"> 
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiqXpMLViex52tiA3XRQyPTPZFUZd7Bt22wO6XLzFynTcD7ZIDdMXWmIn5JzlcZrcNMaI&usqp=CAU" >
      </div>
      <div class="col ">
        <img src="https://i.ytimg.com/vi/USsX19Omw7k/sddefault.jpg" >
      </div>
      
     
    </div>
  </div>
</div>
    
</body>

