
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">



<div class="header">

    <div class="slider-frame">
        <ul>
            <li><img src="https://i.ibb.co/bN9rJgG/IMG-20221029-WA0068.jpg"></li>
            <li><img src="https://i.ibb.co/bz5ZLdx/6.png"></li>
            <li><img src="https://i.ibb.co/r0fyXcJ/4.png" alt=""></li>
            <li><img src="https://i.ibb.co/kyr14mK/8.png" alt=""></li>
        </ul>

    </div>

    <div class="secction1" style="padding-top: 70px;">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            
          </div>
          <div class="col">
            One of three columns
          </div>
          <div class="col">
            <img src="https://i.ibb.co/Jm7yY5N/8c0y-Xtl-Doiz-UPGZgv-Bp-Mp-VGQbgr.webp" style="height: 700px; width: 400px;">
          </div>
          <div class="col">
            <img src="https://i.ibb.co/tHd9j8q/IMG-20221029-WA0068.jpg" style="height: 700px; width:400px ;">
          </div>
          
          
        </div>
      </div>
    </div>
    <br>
</div>
