body {
    background-color: rgb(16, 16, 77);

    margin: 0;
    padding: 0;
}



.header {

    background-size: cover;
    background-attachment: fixed;
    height: 475px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    


}
.header img{
    top: 0;
    left: 0;
    height: 445px;
    width: 100%;
 
}

.texto  {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.texto img{
    height: 250px;
    width: 250px;
    text-align: center;
    position: relative;
    opacity: .9;
    margin:0px auto 0;

    
}



.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
   
    background: rgba(255, 255, 255, 0.801);

}

.slider-frame ul {
    display: flex;
    padding-left: 0%;
    width: 400%;
    opacity: .7;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;



}

.slider-frame img {
    width: 100%;
    opacity: .7;

}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.wave {
    position: relative;
    bottom: 0;
    width: 100%;
 
}

.secction1 {
    text-align: center;
    position: relative;
   
    background: url(https://i.ibb.co/dPYMntz/Whats-App-Image-2024-07-01-at-11-22-58-AM.jpg);
    background-size: cover;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.secction1 .row .col {
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;

}

.background-overlay1 {

    background: rgba(74, 77, 138, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.texto .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.secction2 {
    text-align: center;
    position: relative;
    background: url(https://i.ibb.co/C9vwqkX/Whats-App-Image-2024-07-01-at-11-38-32-AM-1.jpg);
    background-size: cover;
    height: 495px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.secction2 .row .col {
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;

}

.background-overlay2 {

    background: rgba(74, 77, 138, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.secction3 {
    text-align: center;
    position: relative;
    background: url(https://i.ibb.co/sK34Vzh/Whats-App-Image-2024-07-01-at-11-43-41-AM.jpg);
    background-size: cover;
    height: 475px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secction3 .row .col {
    font-family: "Amatic SC", sans-serif;
    font-size: 17px;
    text-align: left;
    font-weight: bold;

}

.background-overlay3 {

    background: rgba(74, 77, 138, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.secction4 {

    text-align: center;
    position: relative;
    background: url(https://i.ibb.co/HYVyf96/Whats-App-Image-2024-07-01-at-10-31-16-AM.jpg);
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;


}

.background-overlay4 {

    background: rgba(74, 77, 138, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.secction4 .row .col {
    font-family: "Amatic SC", sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;



}