

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
<body>
    
    <div class="main-header" id="inicio">
        <div class="background-overlay text-white py-5">
          <div class="container">
            <div class="row">
              <div class="cold-9" style="text-align: center; padding-top: 30px;">
                <img src="https://i.ibb.co/n1zLVmY/OIP-2-removebg-preview.png" height="200px" width="200px"><br>
               
                <p style=" font-family: Dancing Script, cursive;font-style: normal;font-size: 30px; font-weight: bold; color: black;"  >
                   "La mejor Herencia que un padre de familia puede <br> legar a sus hijos es un Educacion 
                  Esmeradamente <br> CRISTIANA. <br>
                  Mons. Miguel Ángel Garcia Arauz".
                </p>
      
              </div>
            </div>
          </div>
        </div>
    </div>
<br>
<div class="secction1">
    <div class="background-overlay1 text-white py-5">
     <div class="container">
      <div class="row">
      
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> PRIMERO BASICO</h4>
          *Matematica
          <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
          <br> *Comunicacion y Lenguaje, Idioma Español 
          <br> *Comunicacion y Lenguaje, Idioma Extranejero
          <br>*Ciencias Naturales
          <br>*Ciencias Sociales Y Ciudadania
         <br> *Educacion y Expresión Artística 
         <br>*Emprendimiento para la Productividad
         <br>*Tecnologías del Aprendizaje y la Coumnicacion
         <br>Educacion Fisica
  
        </div>
 
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> SEGUNDO BASICO</h4>
          *Matematica
          <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
          <br> *Comunicacion y Lenguaje, Idioma Español 
          <br> *Comunicacion y Lenguaje, Idioma Extranejero
          <br>*Ciencias Naturales
          <br>*Ciencias Sociales Y Ciudadania
         <br> *Educacion y Expresión Artística 
         <br>*Emprendimiento para la Productividad
         <br>*Tecnologías del Aprendizaje y la Coumnicacion
         <br>Educacion Fisica
        </div>
           
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> TERCERO BASICO</h4>
          *Matematica
          <br> *Cultura e Idiomas Mayas, Garifuna, Xinca          
          <br> *Comunicacion y Lenguaje, Idioma Español 
          <br> *Comunicacion y Lenguaje, Idioma Extranejero
          <br>*Ciencias Naturales
          <br>*Ciencias Sociales Y Ciudadania
         <br> *Educacion y Expresión Artística 
         <br>*Emprendimiento para la Productividad
         <br>*Tecnologías del Aprendizaje y la Coumnicacion
         <br>Educacion Fisica
        </div>
           
          
        </div>
     </div>
   </div>
  </div>
  <br>
  <div class="secction2">
    <div class="background-overlay2 text-black py-5">
     <div class="container">
      <div class="row">
      
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 75px;font-weight: bolder; text-align: center;">PERITO <br>MERCADOTECNIA <br>Y PUBLICIDAD </h4> </div> 
       <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> CUARTO GRADO</h4>
        *Matemática Financiera 
        <br>*Introducción a la Economía 
        <br>*Mercadotecnia I (Teoría) 
        <br>*Publicidad I (Teoría y Dibujo) 
        <br>*Fundamentos de Derecho 
        <br>*Inglés Comercial I 
        <br>*Comunicación 
        <br>*Administración I 
        <br>*Contabilidad Aplicada 
        <br>*Religión  
      </div>
           
      <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> QUINTO GRADO</h4>
        *Matemática Aplicada 
        <br>*Mercadotecnia II (Mercadeo de Productos) 
        <br>*Publicidad II (Teoría y Dibujo) 
        <br>*Derecho Laboral y Derecho Mercantil 
        <br>*Inglés Comercial II 
        <br>*Moral Ética Profesional y Relaciones 
        Humanas 
        <br>*Administración II (Dirección y Técnicas de Ventas) 
        <br>*Comercio Interno y Externo (I.E.C.A.) 
        <br>*Estadística Aplicada 
        <br>*Religión  
        
     </div>
           
     <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> SEXTO GRADO</h4>
      *Psicología Aplicada a la Empresa 
      <br>*Mercadotecnia III (Investigación de Mercados) 
      <br>*Publicidad III (Aplicación) 
      <br>*Promoción de Ventas 
      <br>*Administración III (Organización Industrial) 
      <br>*Relaciones Públicas 
      <br>*Seminario sobre Problemas Mercadológicos y Publicitarios 
      <br>*Práctica Supervisada (200 horas) 
      <br>*Religión     
   </div>


         </div>
     </div>
   </div>
  </div>
<br>
<div class="secction3">
    <div class="background-overlay3 text-white py-5">
     <div class="container">
      <div class="row">
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 75px; font-weight: bolder; padding-top: 80px; text-align: left;">PENSUM 
          <br>MEIBI</h4>
         
          
      </div>
    
     <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;">CUARTO GRADO</h4>
      *Matemáticas 
      <br>*Física Fundamental 
      <br>*Comunicación Y Lenguaje:  Idioma Materno I [L1] 
      <br>*Comunicación Y Lenguaje:  Segundo Idioma  I [L2] 
      <br>*Comunicación Y Lenguaje:  Tercer Idioma I [L3] Inglés 
      <br>*Expresión Artística Y Corporal I: Danza,Teatro Y Su Didáctica 
      <br>*Psicopedagogía  Y Didáctica Generales 
      <br>*Educación Bilingüe  Intercultural 
      <br>*Informática Aplicada A La Educación 
      <br>*Práctica Docente: Observación De Educación Formal Y No Formal 
      <br>*Religión    
   </div>
   
   <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> QUINTO GRADO</h4>
    *Seminario Sobre Problemas De Educación 
    <br>*Medio Social Y Natural I  Y Su Didáctica 
    <br>*Estadística Aplicada  A La Educación 
    <br>*Comunicación Y Lenguaje: Idioma Materno 
    LI [L1] 
    <br>*Comunicación Y Lenguaje : Segundo Idioma 
    LI [L2] 
    <br>*Comunicación Y Lenguaje: Tercer Idioma LI [L3] Inglés 
    <br>*Expresión Artística  Y Corporal Ii: Educación Musical Y Su Didáctica 
    <br>*Psicopedagogía Infantil 
    <br>*Didáctica De Las Matemáticas 
    <br>*Planificación Y Evaluación 
    <br>*Práctica Docente: Observación Y Participación 
    <br>*Religión  
   </div>
   
   <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> SEXTO GRADO</h4>
    Realidad Social Cultural:  Cultura, Identidad Y Derechos Humanos 
    *Medio Social Y Natural Ii Y Su  Didáctica 
    <br>*Química 
    <br>*Didáctica Del Idioma Materno (L1) 
    <br>*Didáctica Del Segundo Idioma (L2) 
    <br>*Didáctica Del Tercer Idioma  [L3] Inglés 
    <br>*Literatura Universal 
    <br>*Literatura Maya, Ladina, Xinka Y Garífuna 
    <br>* Expresión Artística Y Corporal Ii: Artes Plásticas, Artes De Las Culturas De Guatemala Y Su Didáctica 
    <br>*Enfoques Pedagógicos: Educación Para La Democracia Y En Valores 
    <br>*Práctica  Docente 
    <br>* Religión      
   </div>
          
         </div>
     </div>
   </div>
  </div>
<br>

<div class="secction4">
<div class="background-overlay4 text-white py-5">


    <div class="container">

      <div class="row">
          
        <div class="col"><h4 style="font-family: Amatic SC, sans-serif; font-size: 65px; font-weight: bolder; padding-top: 80px;text-align: center;">PENSUM <br>PERITO <br> ADMISTRACION</h4></div>


        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> CUARTO GRADO</h4>
          *Administración Pública 
          <br>*Matemática 
          <br>*Introducción a la Economía 
          <br>*Teoría del Derecho Administrativo 
          <br>*Organización Administrativa del Gobierno 
          <br>*Contabilidad General 
          <br>*Organización Y Métodos 
          <br>*Religión  
        </div>
             
        <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> QUINTO GRADO</h4>
          *Administración Pública II 
         <br> *Estadística General 
          <br>*Desarrollo Nacional I 
          <br>*Legislación Administrativa 
          <br>*Hacienda Pública y Presupuesto Nacional I 
          <br>*Contabilidad Fiscal y Municipal de Costos 
          <br>*Teoría y Práctica de Planificación 
          <br>*Psicología General 
          <br>*Religión   
       </div>
             
       <div class="col"> <h4 style="font-family: Amatic SC, sans-serif; font-size: 35px; font-weight: bolder;"> SEXTO GRADO</h4>
        Gerencia y Administración de Personal 
        <br>*Presupuesto  Nacional II 
        <br>*Desarrollo Nacional II 
        <br>*Sistema de Compras y Suministros 
        <br>*Seminario sobre Problemas de Administración Pública 
        <br>*Relaciones Públicas, Humanas y Ética Profesional 
        <br>*Práctica Supervisada (200 horas para el alumno) 
        <br>*Religión     
     </div>
  

      </div>

    </div>

  </div>

</div>
<br>

</body>