<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<body>

<nav class="fixed-nav-bar">
    <div class="hamburger" onclick="toggleMenu()">☰ Menú</div>
    <ul class="menu collapsed" id="mainMenu">
      <li><a href="#">Inicio</a></li>
      
     
      <li>
        <a class="toggle-submenu" onclick="toggleSubmenu(this)">Nosotros ▼</a>
        <ul class="submenu">
          <li><a href="#">Misión</a></li>
          <li><a href="#">Equipo</a></li>
        </ul>
      </li>

       <li><a href="#HISTORIA">HISTORIA</a></li>

      <li><a href="#VISION MISION">MISION</a></li>
      <li><a href="#VISION MISION">VISION</a></li>
      <li><a href="#VALORES">VALORES</a></li>
      <li><a href="#COBERTURA">COBERTURA</a></li>


      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>



  



</body>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Zeyada&display=swap" rel="stylesheet">
<router-outlet></router-outlet>