<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid" style="cursor: pointer; background:#CDDC39 ;">
      <a class="navbar-brand text-black" href="#">LICEOJALAPA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="w3-bar-item w3-button" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="w3-bar-item w3-button" href="#QUIENES">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="w3-bar-item w3-button" href="#MISION">MISION</a>
          </li>
          <li class="nav-item">
            <a class="w3-bar-item w3-button" href="#VISION">VISION</a>
          </li>
          <li class="nav-item">
            <a class="w3-bar-item w3-button" href="#FUNDADORES">FUNDADORES</a>


          </li>
          <!--  MENU MATUTINA-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" aria-expanded="true">
              JORNADAS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li><a class="dropdown-item" href="/primaria"> JORNADA PRIMARA</a></li>
              <li><a class="dropdown-item" href="/4tobachillcompu">JORNADA MATUTINA</a></li>
              <li><a class="dropdown-item" href="/4toperitocompu">JORNADA VESPERTINA</a>
              <li><a class="dropdown-item" href="/finsemana">JORNADA FINSEMANA</a>
            </ul>
          </li>


          <!--  MENU PRIMARIA 
        <li class="nav-item dropdown " >
          <a class="nav-link dropdown-toggle text-black" href="#" id="primaria" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRIMARIA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="#">PRIMERO</a></li>
            <li><a class="dropdown-item " href="#">SEGUNDO</a></li>
           
          </ul>
        </li>-->


          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Zeyada&display=swap"
            rel="stylesheet">

        </ul>
      </div>
    </div>
  </nav>
</body>
<router-outlet></router-outlet>