<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="app.component.css">

<body>




  <nav class="navbar fixed-top" >
    
    <ul class="menu collapsed" id="mainMenu">
      <li><a href="#">Inicio</a></li>
      <li>
        <a class="toggle-submenu" onclick="toggleSubmenu(this)">Servicios ▼</a>
        <ul class="submenu">
          <li><a href="#">Diseño Web</a></li>
          <li><a href="#">SEO</a></li>
          <li><a href="#">Publicidad</a></li>
        </ul>
      </li>
      <li>
        <a class="toggle-submenu" onclick="toggleSubmenu(this)">Nosotros ▼</a>
        <ul class="submenu">
          <li><a href="#">Misión</a></li>
          <li><a href="#">Equipo</a></li>
        </ul>
      </li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>



  
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Zeyada&display=swap" rel="stylesheet">


</body>


    
<router-outlet></router-outlet>