* {
  height: 80px;
  position: relative;
  width: 100%;
  
}
nav {
  background-color: #ecea53cb;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav ul {
  list-style: none;
  display: flex;
}


a {
  text-decoration: none;
  color: black;
}

